.form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  padding: 10px;
  border: 1px solid #111;
  padding: 15px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.25), 0 0px 10px rgba(0, 0, 0, 0.22);
}
.label {
  display: flex;
  flex-direction: column;
  font-weight: 500;
}
.input {
  outline: none;
  border: none;
  border-radius: 2px;
  padding: 5px;
  margin: 5px auto;
  max-width: 100%;
  min-width: 80%;
  box-shadow: 0 0px 6px rgba(0, 0, 0, 0.25), 0 0px 10px rgba(0, 0, 0, 0.22);
}
.input:focus-within {
  box-shadow: inset 0 0px 6px rgb(81, 188, 255), 0 0px 10px rgba(0, 0, 0, 0.22);
}

.button {
  font-family: 'New Tegomin', serif;
  font-weight: 700;
  background-color: inherit;
  margin: 15px auto 5px auto;
  width: 50%;
  padding: 5px;
  border-radius: 7px;
  outline: none;
  border: none;
  box-shadow: 0 0px 6px rgba(0, 0, 0, 0.25), 0 0px 10px rgba(0, 0, 0, 0.22);
}
.button:hover,
.button:focus {
  box-shadow: 0 0px 6px rgb(81, 188, 255), 0 0px 10px rgba(0, 0, 0, 0.22);
}
.button:active {
  background-color: #a0def9;
}